#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.app-container {
  display: flex;
  text-align: left;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  width: calc(100vw - 240px);
}

